<a href="https://colab.research.google.com/github/ChristianImmanuel2009/XI-RPL-7/blob/main/Praktikum_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
#Coding Casting Data Type

In [60]:
print("Casting Data Type")
print("No. 1 :")
str_numbers = "456"
str_numbers_to_int = int(str_numbers)
print("Before casting :", str_numbers, ", the data type is",
type(str_numbers))
print("After casting :", str_numbers_to_int, ", the data type is",
type(str_numbers_to_int))

Casting Data Type
No. 1 :
Before casting : 456 , the data type is <class 'str'>
After casting : 456 , the data type is <class 'int'>

In [61]:
print("Casting Data Type")
print("No. 2 :")
integer = 12345
integer_to_str = str(integer)
print("Before casting :", integer, ", the data type is", type(integer))
print("After casting :", integer_to_str, ", the data type is",
type(integer_to_str))

Casting Data Type
No. 2 :
Before casting : 12345 , the data type is <class 'int'>
After casting : 12345 , the data type is <class 'str'>

In [62]:
print("Casting Data Type")
print("No. 3 :")
num_int = 1
num_bool = bool(num_int)
print(num_bool, type(num_bool))
num_int = 0
num_bool = bool(num_int)
print(num_bool, type(num_bool))

Casting Data Type
No. 3 :
True <class 'bool'>
False <class 'bool'>

In [63]:
#Koding Comparison Operators

In [64]:
8 == 8
8 != 9
8 > 9
8 < 9
8 <= 9
9 >= 9

True

In [65]:
#Koding logical operators

In [66]:
a = True
b = True
print(a and b)
print(a or b)
print(not b)
#logic
5 > 6 and 6 < 7

True
True
False

False

In [67]:
#Koding arithmetic operators

In [68]:
e = 8
f = 2

# Summation/jumlah jika keduanya ditambahkan
sum = e + f
print(f"The sum of e with f is : {sum}\n")
# Reduction/selisih antara nilai e dan f
red = e - f
print(f"The reduction of e with f is : {red}\n")

# Multiplication/jika nilai e dikalikan f
multi = e * f
print(f"The multipication of e with f is : {multi}\n")
# Division/jika nilai e dibagi dengan f
divi = e / f
print(f"The quotient of e with f is : {divi}\n")
# Modulo/jumlah nilai yang tersisa dari hasil bagi nilai e dengan nilai f
mod = e % f
print(f"The remainder of e with f is : {mod}\n")
# Power/jumlah nilai e jika dipangkatkan dengan nilai f
pow = e ** f
print(f"The power of e of f is : {pow}\n")

The sum of e with f is : 10

The reduction of e with f is : 6

The multipication of e with f is : 16

The quotient of e with f is : 4.0

The remainder of e with f is : 0

The power of e of f is : 64

In [69]:
#Koding Input Output

In [70]:
name = str(input("What is your name : "))
age = int(input("What's your age : "))
print("Name: ", name)
print("Age: ", age)

What is your name : chris
What's your age : 16
Name:  chris
Age:  16

In [71]:
# normal print
print('Hi all! I am', name, 'age', age, 'years old')
# format print
print(f'Hi all! I am {name} age {age} years old')
# format print
print(f'Hi all! I am %s age %d years old'%(name, age))
# fortmat output
print(30*"=")
print("Temperature Calculator Program")
print(30*"=")

Hi all! I am chris age 16 years old
Hi all! I am chris age 16 years old
Hi all! I am chris age 16 years old
==============================
Temperature Calculator Program
==============================

In [72]:
#Koding Conditionals Dan Exception Handling1

In [73]:
try:
    your_GPA = float(input("Enter your GPA: "))
    if 4.0 >= your_GPA >= 0.0:
        if 4.0 >= your_GPA >= 3.80:
            print(f"Damn you've got a magna cumlaude with your {your_GPA} GPA")
        elif 3.50 <= your_GPA < 3.80:
            print(f"Cool!! You've got a cumlaude with your {your_GPA} GPA")
        elif 3.00 <= your_GPA < 3.50:
            print(f"You've got a stable GPA tho")
        elif your_GPA < 3.00:
            print(f"You need a stable GPA")
    else:
        print(f"Sorry, your GPA {your_GPA} is out of range and invalid")
except:
    print("Please enter a valid GPA")

Enter your GPA: 3.99
Damn you've got a magna cumlaude with your 3.99 GPA

In [74]:
try:
    status_code = int(input("Enter your status code: "))
    print("Your code means:")

    match status_code:
        case 200:
            print("Success!")
        case 400:
            print("Bad Request")
        case 401:
            print("Unauthorized")
        case 402:
            print("Payment Required")
        case 403:
            print("Forbidden")
        case 404:
            print("Not Found")
        case 500:
            print("Internal Server Error")
        case _:
            print("Unknown status code")

except:
    print("Please enter a valid status code")

Enter your status code: 200
Your code means:
Success!

In [75]:
a = 3
b = "Even Numbers" if a % 2 == 0 else "Odd Numbers"
print(b)

Odd Numbers

In [76]:
# For loop simple
for i in range(5):
    print(i)

# For loop with range
for i in range(5):
    print("Data science is easy!")
print(50 * "=")

for i in range(1, 5, 2):
    print("Data science is easy!")

0
1
2
3
4
Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
==================================================
Data science is easy!
Data science is easy!

In [77]:
word = "I want to master data science"

for letter in word:
    print(letter)

I

w
a
n
t

t
o

m
a
s
t
e
r

d
a
t
a

s
c
i
e
n
c
e

In [78]:
for m, n in enumerate(word):
    print(f"Index {m}. {n}")

Index 0. I
Index 1.
Index 2. w
Index 3. a
Index 4. n
Index 5. t
Index 6.
Index 7. t
Index 8. o
Index 9.
Index 10. m
Index 11. a
Index 12. s
Index 13. t
Index 14. e
Index 15. r
Index 16.
Index 17. d
Index 18. a
Index 19. t
Index 20. a
Index 21.
Index 22. s
Index 23. c
Index 24. i
Index 25. e
Index 26. n
Index 27. c
Index 28. e

In [79]:
for i in range(5,1,-1):
   print("I want big data's")

I want big data's
I want big data's
I want big data's
I want big data's

In [80]:
for i in range(5):
    if i == 2:
     continue # skip theis loop when i is equal to 2
    if i == 4:
        break # stops the loop when i is equal to 4
print(i)

4

In [81]:
count = 0
while count < 4:
    print("Keep the spirits up interns!")
    count += 1

Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!